@import url('https://fonts.googleapis.com/css?family=Roboto:100,400');

body {
    margin: auto;
    text-transform: none;
}

.main-container{
    margin: auto;
    display: flex;
    flex-direction: row;
    width: 1080px;
    height: 413px;
    background-image: linear-gradient(to right, #1489e7, #003e82);
}

.flex-container {
    margin-left: 14px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    position: relative;
    justify-content: flex-start;
}

.header-container {
    width: 342px;
    height: 100px;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 50px;
    font-weight: 100;
    line-height: 1;
    color: white;
    order: 0;
    display: flex;
    text-transform: none;
    margin-top: 91px;
    /*margin-bottom: 222px;*/
    position: absolute;
    box-sizing: border-box;
}

.second-block-container {
    width: 326px;
    height: 48px;
    display: flex;
    order: 1;
    position: absolute;
    box-sizing: border-box;
}

.second-block-content{
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #ffffff;
    text-transform: none;
    margin-top: 209px;
}

.last-block-container {
    width: 212px;
    height: 62px;
    align-items: center;
    display: flex;
    border-radius: 6px;
    background-color: #ffdd2d;
    order: 2;
    margin-top: 277px;
    /*margin-bottom: 74px;*/
    position: absolute;
    box-sizing: border-box;
}

.last-block-content {
    width: 212px;
    height: 24px;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 17px;
    line-height: 1.41;
    text-align: center;
    color: #333333;
}

.card-container {
    float: left;
    width: 542px;
    height: 413px;
    position: relative;
    object-fit: contain;
    overflow: hidden;
}

.Cards {
    min-width: 542px;
    min-height: 413px;
    position:absolute;
    right:0px;
    bottom: -12%;
    overflow: hidden;
}

.task-image {
    margin: auto;
}